.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(245, 231, 218, 1);
}

.main-card {
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
